@model Gestion_etudiant.Models.Student
<h2>Supprimer l'Étudiant</h2>

<div>
    <h4>Êtes-vous sûr de vouloir supprimer cet étudiant ?</h4>
    <div>
        <h4>@Model.StudentName</h4>
        <p>Âge: @Model.Age</p>
        <p>Date de Naissance: @Model.BirthDate.ToString("d")</p>
        <p>École: @Model.School?.SchoolName</p>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="StudentId" />
    <div class="form-group">
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Annuler</a>
    </div>
</form>
