@model Gestion_etudiant.Models.School

<h2>Modifier l'École</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="SchoolID" />
    
    <div class="form-group">
        <label for="SchoolName">Nom de l'école</label>
        <input type="text" class="form-control" asp-for="SchoolName" required />
    </div>

    <div class="form-group">
        <label for="SchoolAdress">Adresse de l'école</label>
        <input type="text" class="form-control" asp-for="SchoolAdress" required />
    </div>

    <button type="submit" class="btn btn-primary">Modifier</button>
</form>
